/* the styles for the elements */
*{
    margin: 0;
    padding: 0;
}
html{
	background-color: #ffffff;
}
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
	width: 800px;
	margin: 0 auto;
	border: solid 3px #931420;
    background-color: #fffded;
}
a:hover{
	font-style: italic;
}

h3{
    padding-bottom: .25em;
}
h2{
    padding-bottom: .25em;
}
img{
    padding-bottom: 1em;
}
p{
    padding-bottom: .5em;
}
blockquote{
    padding: 2em 2em;
    font-style: italic;
}
ul{
    padding-bottom: .25em;
    padding-left: 1.25em;
}
li{
    padding-bottom: .35em;
}
a{
    padding-top: .40em;
    padding-bottom: .40em;
}

	/* the styles for the header */
header {
    border-bottom: solid 3px #931420;
    padding-top: 1.5em;
    padding-bottom: 2em;
    background-image: linear-gradient(30deg, #f6bb73 0%, #fffded 15%, #ffffff 50%, #fffded 80%, #f6bb73 100%);
}

header h2 {
	font-size: 170%;
	color:#800000;

}
header h3{
	font-size:130%;
	font-style: italic;

}
.shadow{
    text-shadow: 2px 2px 5px #800000;
}
header img {
	height: 80px;
	float: left;
    padding-left: 30px;
    padding-right: 30px;
}

/* Navigation styles*/

#nav_menu ul{
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
}
#nav_menu ul li{
    display: inline;
    float: left;
}
#nav_menu ul li a{
    display: block;
    width: 160px;
    text-align: center;
    padding: 1em 0;
    text-decoration: none !important;
    background-color: #800000;
    color: white;
    font-weight: bold;
}
#nav_menu ul li a.current{
    color: yellow;
}

/* Submenu rule sets 2*/

#nav_menu ul ul{
    display: none;
    position: absolute;
    top: 100%;
}
#nav_menu ul ul li{
    float: none;
}
#nav_menu ul li:hover > ul{
    display: block;
}
#nav_menu > ul::after{
    content: "";
    display: block;
    clear: both;
}

/* the styles for the section */
section{
    width: 525px;
    float: right;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}


section h1{
    font-size: 150%;
    color: #800000;
    padding-top: .5em;
    padding-bottom: .25em;
    margin-top: 0;
    margin-bottom: 0;
}
section h2{
	font-size: 130%;
	color: #000000;
    padding-top: .5em;
}

section h3{
	font-size: 105%;
}

section article{
    padding: .5em .5em;
}
section article h2{
    font-size: 130%;
    color: #800000;
    padding-top: 0;
}
section article h3{
    font-size: 105%;
    padding-bottom: .25em;
}
section article img{
    float: right;
    padding: 0 0;
    margin-top: .35em;
    margin-bottom: .35em;
    margin-left: .35em;
    border: 1px solid black;
}

/* the styles for the aside */

aside{
    width: 215px;
    padding-left: 20px;
    padding-right: 20px;
}
aside h1{
    font-size: 150%;
    border-top: solid 3px #931420;
    border-bottom: solid 3px #931420;
    padding-top: .3em;
}

aside h2{
    font-size: 130%;
    color: #800000;
    padding-top: .5em;
}
aside h3{
    font-size: 105%;
    padding-bottom: .25em;
}

aside {
    clear: left;
}
aside img{
    padding-top: .30em;
    padding-bottom: 1em;
}

/* the styles for the footer */
footer{
    background-color: #931420;
    color: white;
    padding-top: 0;
    margin-top: 0;
}
footer p{
	text-align: center;
    padding: 1em 1em;
    clear: right;
}